//all-pages
.header {
  background-image: url('../../img/bg3.jpg');
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
}
.card-teemup .content {
  padding: 0 30px !important;
}
@media(min-width: 768px) {
  .footer {
    // navbar class
    display: none;
  }
}
.modal {
  .red-link {
    color: #f44336;
    text-decoration: underline;
  }
}
#socialCard {
  margin-top: 20px !important;
  .header {
    margin-bottom: 0;
  }
  .social-line {
    a {
      font-size: 2.5rem;
      opacity: 0.6;
    }
  }
}
#social {
  background-color: rgba(0,0,0,0.6);
}
//home-page
#listModeWrapper {
  position: absolute;
}
#list-view-container {
  .col-sm-4 {
    min-height: 0 !important;
    transition: 0.5s all ease;
    &:hover {
      opacity: 0.9;
      .card-link-btn {
        opacity: 1 !important;
      }
    }
    .card-link-btn {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      opacity: 0;
      transition: 0.75s all ease;
    }
  }
}
.card-list-view {
  height: 30vh;
  margin-bottom: 2vh;
  img {
    width: 100%;
  }
  h4 {
    margin: 2vh 0;
    span {
      color: #4caf50;
    }
  }
  .card-list-view-img {}
  .fullscreen-btn-wrapper {
    height: 10vh;
    button {
      position: absolute;
      top: 0;
      bottom: 0;
    }
  }
}
#salePercentage {
  color: #4caf50;
}
#designSideBar {
  margin-bottom: 2vh;
  h4 {
    .sold {
      color: #4caf50;
    }
    .daysLeft {
      color: #f44336;
    }
  }
}
.sidebar-btn-col-xs-6 {
  padding: 0 1%;
  #teemUpBtn,
  #viewStoreBtn {
    width: 100%;
  }
}
#postNav {
  margin-bottom: 2vh;
}
//product-page
#photoIcon {
  position: absolute;
}
#shirtType {
  input {
    width: 100%;
  }
  ul {
    width: 100%;
  }
}
#sizeSelect {
  li {
    margin: 0;
    width: 50%;
  }
}
#checkout {
  .modal-dialog {
    .modal-content {
      .modal-body {
        table {
          tbody {
            tr {
              td {
                &:nth-of-type(1) {
                  width: 30%;
                  img {
                    display: inherit;
                    width: 100%;
                  }
                }
                .dropdown {
                  input {
                    width: 100%;
                    text-align: right;
                    padding: 0;
                    margin: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
//other-pages
#welcomeCard {
  padding: 2vh 0;
}
.tutorial {
  padding: 5vh 15%;
  .col-sm-4 {
    img {
      width: 60%;
    }
  }
}
.tutorial-points {}
.tutorial-steps {
  padding: 0 15%;
}
